body {
  background: white;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  font-size: 300%;
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.flex_container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}