body {
  background: white;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
iframe {
  height: 200px;
}