body {
  background: white;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
body {
  font-family: 'Architects Daughter', cursive;
}

.flex_container-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: space-around;
  align-content: center;
  margin: 5px;
  padding: 5px;
}
.flex_container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.flex_container-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}